<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
  <div class="center">
    <div id="error_explanation">
      <h2 class=""><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="text-center">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="text-center">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="text-center">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="text-center">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="text-center">
    <%= form.label :creator %>
    <%= form.text_field :creator %>
  </div>

  <div class="text-center">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email %>
  </div>

  <div class="text-center">
    <%= form.label :uri %>
    <%= form.text_field :uri %>
  </div>  

  <div class="text-center">
    <%= form.submit %>
  </div>
<% end %>
