<div class="jumbotron">
   <% if notice != nil %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% notice.each do |message| %>
        <li><%= message[0] + ": " + message[1][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4 class="display-3 text-center"><%= @event.name %></h4>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="event-param left-content text-right">
          <h4 class="text-center">Details</h4>
          <div class="text-center">
            <label>
              When?
            </label>
            <var>
              <%= @event.start %>
            </var>
          </div>
          <div class="text-center">
            <label>
              Where?
            </label>
            <var>
              <%= @event.location %>
            </var>
          </div>
          <div class="text-center">
            <label>
              Contact:
            </label>
            <var>
              <a href="mailto:<%= @event.contact_email %>"><%= @event.creator %></a>
            </var>
          </div>
          <hr>
          <h5 class="text-center">Check In</h5>
          <p class="">
            <%= render 'attendee_form', attendee: Attendee.new %>
          </p>
          <%= link_to 'Delete Event', 
             event_path(@event), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' } %> 
        </div>
      </div>
      <div class="col-4">
        <h4>Attendees</h4>
        <% @event.attendees.each do |attendee| %>
          <p class="down name"><%= attendee.email %> <br> <%=attendee.created_at.to_s %></p>
        <% end %>
      </div>
  </div>
  <br>
</div>

