<div class="jumbotron">
  <h1 class="display-4 text-center">An Event Checkin Platform</h1>
  <p class="lead text-center">Simple and Easy</p>
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg" href="/create" role="button">Create An Event</a>
  </p>
</div>